<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ui-sref="/party/all">Party</a></li>
        </ul>
    </div>
</nav>
