/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

body {
    padding-bottom: 70px;
}

h1, .h1 {
    text-align: center;
}

.page-header {
    margin: 20px 0 20px;
}

/* Trying to eliminate the obnoxious highlight */
div:focus/*, button:focus*/ {
    outline: none !important;
    border: 0  !important;
}
