<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a ui-sref="/">Home</a></li>
            <li><a ui-sref="/combat/fight"><i class="ra ra-crossed-swords"></i> Combat</a></li>
            <li class="dropdown" ng-controller="PartyController">
                <a class="dropdown-toggle" data-toggle="dropdown" ng-if="characters">
                    <i class="fa fa-user"></i> Character (<span ng-cloak>{{ characters.length }}</span>) <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" ng-if="characters">
                    <li ng-repeat="character in characters track by $index">
                        <a ng-click="SelectCharacter($index);"><i class="fa fa-user"></i> {{ character.name.full}}</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
