<style>
    .table-condensed > thead > tr > th,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > tbody > tr > td,
    .table-condensed > tfoot > tr > td {
        padding: 2px;
    }

    .fixed {
        font-family: monospace;
    }

    h3 {
        text-align: center;
    }
</style>
<div class="container-fluid" ng-controller="PartyController">
    <div class="page-header">
        <h1>Party</h1>
    </div>

    <div class="row" ng-if="characters">
        <div class="col-sm-4"
             ng-repeat="character in characters track by $index"
             ng-init="abilities = character.abilities"
             ng-click="SelectCharacter($index);">
            <div class="panel panel-default" ng-class="{'panel-primary': hover}"
                 ng-mouseenter="hover = true"
                 ng-mouseleave="hover = false">
                <div class="panel-heading">
                    <h3 class="panel-title">{{::character.name.full}}</h3>
                </div>
                <table class="table table-condensed table-striped">
                    <tr>
                        <td class="text-center" colspan="4"><strong>{{::character.species.name}} {{::character.profession.name}}
                        </strong></td>
                    </tr>
                    <tr class="text-center">
                        <td class="fixed"
                            ng-repeat="ability in [abilities.str, abilities.int]">
                            {{::ability.sName}}&nbsp;{{::ability.score | spad:2}}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td class="fixed"
                            ng-repeat="ability in [abilities.dex, abilities.wil]">
                            {{::ability.sName}}&nbsp;{{::ability.score | spad:2}}
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td class="fixed"
                            ng-repeat="ability in [abilities.con, abilities.per]">
                            {{::ability.sName}}&nbsp;{{::ability.score | spad:2}}
                        </td>
                    </tr>
                    <tr class="text-center" ng-init="durability = character.durability">
                        <th class="text-center">Durability:</th>
                        <td>
                            <span class="text-info">{{durability.stun.score}}</span> /
                            <span class="text-warning">{{durability.wound.score}}</span> /
                            <span class="text-danger">{{durability.mortal.score}}</span> /
                            <span class="text-muted">{{durability.fatigue.score}}</span>
                            {{::ability.sName}}&nbsp;{{::ability.score | spad:2}}
                        </td>
                    </tr>
                </table>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
