<style>
    .table > tbody > tr > th {
        vertical-align: bottom;
    }
</style>

<div class="container-fluid" ng-if="character">
    <div class="page-header">
        <h1>{{character.name.full}}</h1>
    </div>
    <h3>{{character.species.name}} {{character.profession.name}}
        <small>{{character.career.name}}</small>
    </h3>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Ability</th>
                        <th class="text-right">Score</th>
                        <th class="text-right">Untrained</th>
                        <th class="text-right"><abbr title="Resistance Modifier">ResMod</abbr></th>
                    </tr>
                    </thead>
                    <tr ng-repeat="ability in character.abilities">
                        <td>{{ability.name}}</td>
                        <td class="text-right">{{ability.score}}</td>
                        <td class="text-right">{{ability.untrained}}</td>
                        <td class="text-right">{{ability.resMod > 0 ? '+' : ''}}{{ability.resMod}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th colspan="3">Durability</th>
                    </tr>
                    </thead>
                    <tr class="{{d.name|toclass}}" ng-repeat="d in character.durability">
                        <td>{{d.name}}
                        </td>
                        <td>
                            <uib-rating ng-model="d.score" max="d.max"
                                        state-on="'fa fa-circle'" state-off="'fa fa-circle-o'"
                                        readonly="true" titles="[]"></uib-rating>
                        </td>
                        <td class="text-center">
                            {{d.score}}/{{d.max}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <table class="table table-striped" ng-init="acs = character.actionCheckScore">
                    <thead>
                    <tr>
                        <th colspan="4">Action Check Score</th>
                    </tr>
                    </thead>
                    <tr class="text-center">
                        <td>Marginal</td>
                        <td>Ordinary</td>
                        <td>Good</td>
                        <td>Amazing</td>
                    </tr>
                    <tr class="text-center">
                        <td>&lt;={{acs.amazing.score}}</td>
                        <td>&lt;={{acs.good.score}}</td>
                        <td>&lt;={{acs.ordinary.score}}</td>
                        <td>{{acs.marginal.score}}+</td>
                    </tr>
                    <tr>
                        <td class="text-right">Step/Die:</td>
                        <td>{{acs.base.step}} / {{acs.base.die}}</td>
                        <td class="text-right">Actions/Round:</td>
                        <td>{{acs.actionsPerRound}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel panel-default">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Attack Forms</th>
                        <th class="text-center">Score</th>
                        <th class="text-center">Base</th>
                        <th class="text-center">Type</th>
                        <th class="text-center">Range</th>
                        <th class="text-center">Damage</th>
                    </tr>
                    </thead>
                    <tr class="text-center" ng-repeat="af in character.attackForms">
                        <td class="text-left">{{af.name}}</td>
                        <td>{{af.score.ordinary}} / {{af.score.good}} / {{af.score.amazing}}</td>
                        <td>{{af.baseDice.step}} / {{af.baseDice.die}}</td>
                        <td>{{af.type.form}} / {{af.type.firepower}}</td>
                        <td>
                            <span ng-if="af.range.personal">Personal</span>
                            <span ng-if="!af.range.personal">
                                {{af.range.short}} / {{af.range.medium}} / {{af.range.long}}
                            </span>
                        </td>
                        <td>{{af.damage.ordinary}} / {{af.damage.good}} / {{af.damage.amazing}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
