<style>
    #combatMap canvas {
        border: 1px solid #FFFFFF
    }
</style>
<div class="container-fluid">
    <div class="page-header">
        <h1>Combat</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <ul class="list-group">
                <li class="list-group-item text-success text-center">
                    <strong class="list-group-item-heading">Amazing</strong></li>
                <li class="list-group-item" ng-class="{'text-success': a.character, 'text-danger': a.enemy}"
                    ng-repeat="a in game.combat.round.amazing">
                    {{a.character ? a.character.name.full : a.enemy.name}}
                    <span class="badge" ng-class="{'alert-danger': a.enemy}">{{a.character ? a.score : "&nbsp;"}}</span>
                </li>
                <li class="list-group-item text-info text-center">
                    <strong class="list-group-item-heading">Good</strong></li>
                <li class="list-group-item" ng-class="{'text-info': a.character, 'text-danger': a.enemy}"
                    ng-repeat="a in game.combat.round.good">
                    {{a.character ? a.character.name.full : a.enemy.name}}
                    <span class="badge" ng-class="{'alert-danger': a.enemy}">{{a.character ? a.score : "&nbsp;"}}</span>
                </li>
                <li class="list-group-item text-warning text-center">
                    <strong class="list-group-item-heading">Ordinary</strong></li>
                <li class="list-group-item" ng-class="{'text-warning': a.character, 'text-danger': a.enemy}"
                    ng-repeat="a in game.combat.round.ordinary">
                    {{a.character ? a.character.name.full : a.enemy.name}}
                    <span class="badge" ng-class="{'alert-danger': a.enemy}">{{a.character ? a.score : "&nbsp;"}}</span>
                </li>
                <li class="list-group-item text-muted text-center">
                    <strong class="list-group-item-heading">Marginal</strong></li>
                <li class="list-group-item" ng-class="{'text-muted': a.character, 'text-danger': a.enemy}"
                    ng-repeat="a in game.combat.round.marginal">
                    {{a.character ? a.character.name.full : a.enemy.name}}
                    <span class="badge" ng-class="{'alert-danger': a.enemy}">{{a.character ? a.score : "&nbsp;"}}</span>
                </li>
            </ul>
        </div>
        <div class="col-sm-6">
            <div id="combatMap"></div>
            <h5>Current Combatant: {{game.combat.currentCombatant.character.name.full}}</h5>
        </div>
        <div class="col-sm-3">
            <div class="row">
                <form class="navbar-form navbar-left">
                    <button type="submit" ng-click="newCombat()" class="btn btn-danger">New Combat</button>
                    <button type="submit" ng-click="combatActions.debugSkip(game.combat)" class="btn btn-danger">Skip Action (Debug)</button>
                </form>
            </div>
        </div>
    </div>
</div>
