<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="combatActions.debugSkip(game.combat)">Skip (Debug)</a></li>
        </ul>
    </div>
</nav>
